In [1]:
import pandas as pd
import numpy as np
#import mglearn

#Preprocesamiento
from sklearn.decomposition import PCA

#Clustering
from scipy.cluster.hierarchy import dendrogram, linkage, cophenet, fcluster
from scipy.spatial.distance import pdist

#Otros
import os
import matplotlib
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("Test_18_clustering.csv")
df.drop("Unnamed: 0",axis=1,inplace=True)

In [3]:
df.head()

,Unnamed: 0,edad,genero,barrio,pregunta_1,pregunta_2,pregunta_3,pregunta_4,pregunta_5,pregunta_6,pregunta_7,pregunta_8,pregunta_9,pregunta_10,pregunta_11,pregunta_12,pregunta_13,datime,cluster_avg,cluster_ward
0,0,21,Hombre,Villa Riachuelo,B,C,B,C,C,C,B,C,C,C,A,B,C,2019-01-23 17:31:00,1,2
1,1,20,Mujer,Otro,B,B,B,B,A,B,B,B,C,C,B,B,B,2019-01-23 13:59:00,2,4
2,2,63,Mujer,Floresta,B,C,C,C,C,C,C,C,C,C,C,C,C,2019-01-23 10:24:00,1,2
3,3,30,Mujer,Otro,B,A,B,A,B,B,B,B,B,B,B,A,C,2019-01-23 00:20:00,2,4
4,4,27,Mujer,Caballito,B,C,B,B,C,C,C,C,B,C,C,C,C,2019-01-22 23:44:00,2,1

In [4]:
diccionario_correlacion = {"A":1,"B":0.5,"C":0}

In [27]:
for i in range(1,14):
    df["pregunta_"+str(i)] = df["pregunta_"+str(i)].apply(lambda x: diccionario_correlacion[x])

In [33]:
df.head()

,edad,genero,barrio,pregunta_1,pregunta_2,pregunta_3,pregunta_4,pregunta_5,pregunta_6,pregunta_7,pregunta_8,pregunta_9,pregunta_10,pregunta_11,pregunta_12,pregunta_13,datime,cluster_avg,cluster_ward
0,21,Hombre,Villa Riachuelo,0.5,0.0,0.5,0.0,0.0,0.0,0.5,0.0,0.0,0.0,1.0,0.5,0.0,2019-01-23 17:31:00,1,2
1,20,Mujer,Otro,0.5,0.5,0.5,0.5,1.0,0.5,0.5,0.5,0.0,0.0,0.5,0.5,0.5,2019-01-23 13:59:00,2,4
2,63,Mujer,Floresta,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-01-23 10:24:00,1,2
3,30,Mujer,Otro,0.5,1.0,0.5,1.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,1.0,0.0,2019-01-23 00:20:00,2,4
4,27,Mujer,Caballito,0.5,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,2019-01-22 23:44:00,2,1

In [40]:
df["indice_violencia"] = df.iloc[:,3:16].sum(axis=1)
df.head(3)

,edad,genero,barrio,pregunta_1,pregunta_2,pregunta_3,pregunta_4,pregunta_5,pregunta_6,pregunta_7,pregunta_8,pregunta_9,pregunta_10,pregunta_11,pregunta_12,pregunta_13,datime,cluster_avg,cluster_ward,indice_violencia
0,21,Hombre,Villa Riachuelo,0.5,0.0,0.5,0.0,0.0,0.0,0.5,0.0,0.0,0.0,1.0,0.5,0.0,2019-01-23 17:31:00,1,2,3.0
1,20,Mujer,Otro,0.5,0.5,0.5,0.5,1.0,0.5,0.5,0.5,0.0,0.0,0.5,0.5,0.5,2019-01-23 13:59:00,2,4,6.0
2,63,Mujer,Floresta,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-01-23 10:24:00,1,2,0.5
3,30,Mujer,Otro,0.5,1.0,0.5,1.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,1.0,0.0,2019-01-23 00:20:00,2,4,7.5
4,27,Mujer,Caballito,0.5,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,2019-01-22 23:44:00,2,1,2.0
5,26,Mujer,Palermo,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-01-22 17:06:00,1,2,0.5
6,16,Mujer,Balvanera,0.5,0.0,0.5,0.0,0.5,0.0,0.5,0.0,0.5,0.5,0.5,0.5,0.5,2019-01-22 16:45:00,2,4,4.5
7,20,Mujer,Barracas,1.0,1.0,0.5,0.5,1.0,1.0,1.0,0.5,0.5,0.0,1.0,0.5,0.5,2019-01-22 01:30:00,2,4,9.0
8,32,Mujer,Balvanera,0.0,0.5,0.5,1.0,1.0,1.0,0.5,0.0,0.5,0.0,0.5,1.0,0.0,2019-01-21 22:21:00,2,4,6.5
9,27,Mujer,Almagro,0.5,0.5,1.0,1.0,0.0,1.0,1.0,0.5,0.5,0.0,0.5,0.0,0.0,2019-01-21 18:21:00,2,4,6.5
10,31,Mujer,Nuñez,0.0,0.0,0.0,1.0,0.5,1.0,0.0,0.5,0.0,0.5,1.0,0.0,1.0,2019-01-21 10:22:00,2,4,5.5
11,38,Mujer,Boedo,1.0,0.5,0.5,0.5,0.5,0.0,0.0,0.5,0.5,0.0,0.5,0.5,0.0,2019-01-20 21:28:00,2,4,5.0
12,16,Mujer,Villa Urquiza,1.0,0.5,1.0,0.5,0.5,0.5,0.0,0.0,0.5,0.5,0.5,0.5,0.0,2019-01-20 14:22:00,2,4,6.0
13,20,Mujer,Otro,0.5,0.0,0.5,0.5,0.5,0.0,0.5,0.5,0.0,0.0,1.0,0.5,0.5,2019-01-19 22:58:00,2,4,5.0
14,37,Mujer,Otro,0.0,0.0,0.0,0.5,0.0,0.5,0.0,0.5,0.0,0.0,0.0,0.5,0.5,2019-01-19 17:17:00,1,2,2.5
15,35,Mujer,Otro,1.0,0.5,1.0,0.5,0.5,0.5,0.5,0.5,0.5,0.0,0.5,0.5,0.0,2019-01-19 12:06:00,2,4,6.5
16,26,Mujer,Floresta,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,2019-01-19 07:34:00,1,1,0.5
17,34,Mujer,Otro,1.0,1.0,0.0,1.0,0.0,1.0,0.5,1.0,1.0,1.0,1.0,1.0,0.0,2019-01-18 23:28:00,2,4,9.5
18,23,Mujer,Balvanera,0.5,0.0,0.5,1.0,0.0,0.5,0.5,0.0,0.5,0.0,0.5,0.5,0.0,2019-01-18 17:30:00,2,4,4.5
19,25,Mujer,Agronomia,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2019-01-18 11:35:00,2,4,13.0
20,21,Mujer,Montserrat,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2019-01-18 11:34:00,1,2,0.0
21,22,Hombre,Almagro,1.0,1.0,1.0,1.0,1.0,0.5,0.5,0.5,0.5,0.5,1.0,0.5,0.0,2019-01-18 11:30:00,2,4,9.0
22,22,Mujer,Almagro,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,0.5,0.5,1.0,0.5,0.5,2019-01-18 11:27:00,2,4,10.5
23,22,Mujer,Almagro,0.5,1.0,0.5,1.0,1.0,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,2019-01-18 11:21:00,1,3,5.0
24,24,Mujer,San Cristóbal,0.5,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.5,0.0,0.5,0.0,0.0,2019-01-18 10:24:00,2,4,3.0
25,45,Hombre,Agronomia,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2019-01-17 15:51:00,2,4,13.0
26,29,Mujer,Flores,0.5,0.5,0.5,0.5,0.5,0.5,0.0,0.5,0.5,0.5,0.5,0.5,0.0,2019-01-17 14:12:00,2,4,5.5
27,29,Mujer,Flores,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.5,0.5,0.0,0.0,0.0,2019-01-17 12:00:00,2,3,2.0
28,27,Hombre,Flores,0.0,0.0,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.0,0.5,0.5,0.0,2019-01-17 11:55:00,1,4,4.5
29,29,Mujer,Flores,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,2019-01-17 11:45:00,2,1,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4330,50,Mujer,Palermo,0.5,0.0,1.0,1.0,1.0,0.5,0.5,1.0,0.5,0.0,0.0,1.0,0.0,2018-02-14 21:17:00,2,4,7.0
4331,33,Mujer,Otro,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-02-14 21:16:00,1,2,1.0
4332,25,Mujer,Villa Urquiza,0.5,1.0,1.0,1.0,1.0,0.5,0.5,1.0,1.0,0.5,0.5,0.0,0.0,2018-02-14 21:16:00,2,4,8.5
4333,24,Mujer,Otro,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,2018-02-14 21:13:00,2,4,12.0
4334,36,Mujer,Caballito,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.5,2018-02-14 21:07:00,1,2,6.5
4335,24,Mujer,Otro,0.5,0.0,0.5,0.5,0.5,0.5,0.0,0.5,0.5,0.0,0.0,0.0,0.0,2018-02-14 21:02:00,2,4,3.5
4336,36,Mujer,Caballito,0.5,0.0,1.0,1.0,0.5,1.0,0.0,0.5,0.5,0.0,0.0,1.0,0.0,2018-02-14 21:00:00,2,4,6.0
4337,30,Mujer,Puerto Madero,1.0,0.5,0.5,1.0,0.0,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.0,2018-02-14 20:43:00,1,1,4.5
4338,26,Hombre,Otro,0.5,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.5,0.0,2018-02-14 20:40:00,1,3,1.5
4339,38,Mujer,Otro,0.0,0.5,0.0,1.0,0.0,0.0,0.0,0.5,0.0,0.0,0.5,0.0,0.0,2018-02-14 20:39:00,1,1,2.5
4340,45,Mujer,Belgrano,0.5,0.0,0.0,1.0,0.5,1.0,1.0,0.5,0.5,0.5,0.5,0.0,0.0,2018-02-14 20:37:00,2,4,6.0
4341,31,Mujer,San Telmo,0.5,0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-02-14 20:37:00,1,2,1.0
4342,46,Mujer,Villa Urquiza,1.0,0.0,1.0,0.5,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.5,0.5,2018-02-14 20:31:00,1,4,6.5
4343,21,Mujer,Otro,0.5,0.0,0.5,0.5,0.0,0.0,0.0,0.5,0.0,0.0,1.0,0.0,0.0,2018-02-14 20:28:00,1,1,3.0
4344,29,Hombre,Parque Chas,0.5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.5,0.0,2018-02-14 20:27:00,1,2,2.0
4345,22,Hombre,La Paternal,0.5,0.0,0.0,0.5,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,2018-02-14 20:23:00,1,1,5.0
4346,22,Mujer,Constitución,0.5,0.0,0.0,1.0,1.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.5,2018-02-14 20:21:00,1,2,4.0
4347,15,Mujer,Agronomia,1.0,0.5,1.0,0.5,1.0,0.0,0.5,0.0,0.5,1.0,1.0,0.0,1.0,2018-02-14 20:13:00,2,4,8.0
4348,25,Hombre,Palermo,1.0,1.0,0.5,1.0,1.0,0.5,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2018-02-14 20:10:00,2,4,12.0
4349,23,Mujer,Palermo,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-02-14 20:06:00,1,2,1.5
4350,27,Hombre,Belgrano,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-02-14 19:56:00,1,2,0.0
4351,55,Hombre,Barracas,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2018-02-14 19:47:00,2,4,13.0
4352,30,Mujer,Caballito,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-02-14 19:36:00,1,2,0.0
4353,30,Mujer,Caballito,1.0,1.0,0.5,1.0,0.5,0.5,0.5,0.5,0.5,0.5,1.0,1.0,0.5,2018-02-14 19:35:00,2,4,9.0
4354,29,Mujer,Villa Urquiza,0.5,0.5,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2018-02-14 19:30:00,1,2,1.5
4355,20,Mujer,Agronomia,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.0,0.0,0.0,0.0,2018-02-14 19:29:00,2,4,4.5
4356,26,Mujer,Villa Lugano,0.5,0.0,0.0,0.0,0.5,0.5,0.0,0.0,0.0,0.0,0.5,0.5,0.0,2018-02-14 19:27:00,1,3,2.5
4357,18,Mujer,Almagro,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.0,0.0,0.5,0.5,0.5,2018-02-14 19:26:00,2,4,5.5
4358,22,Mujer,Almagro,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2018-02-14 19:06:00,2,4,13.0
4359,29,Hombre,Agronomia,1.0,0.5,0.0,1.0,0.5,0.0,1.0,0.5,0.0,1.0,0.5,0.0,1.0,2018-02-14 18:51:00,1,4,7.0

In [42]:
df[["genero","indice_violencia"]].groupby("genero").mean()

        indice_violencia
genero
Hombre          4.657303
Mujer           4.581471
Otro            7.250000

In [43]:
df[["cluster_ward","indice_violencia"]].groupby("cluster_ward").mean()

              indice_violencia
cluster_ward
1                     2.881064
2                     1.596689
3                     4.796265
4                     7.375763

In [44]:
df[["cluster_avg","indice_violencia"]].groupby("cluster_avg").mean()

             indice_violencia
cluster_avg
1                    2.818669
2                    7.531741
3                    4.500000

In [52]:
df.groupby("cluster_ward").mean().iloc[1]

edad                27.240030
pregunta_1           0.276147
pregunta_2           0.107976
pregunta_3           0.147479
pregunta_4           0.172686
pregunta_5           0.095561
pregunta_6           0.179082
pregunta_7           0.117758
pregunta_8           0.075997
pregunta_9           0.023702
pregunta_10          0.022197
pregunta_11          0.130926
pregunta_12          0.170805
pregunta_13          0.076373
cluster_avg          1.012039
indice_violencia     1.596689
Name: 2, dtype: float64

In [53]:
df.groupby("cluster_ward").mean().iloc[2]

edad                26.281834
pregunta_1           0.679966
pregunta_2           0.504244
pregunta_3           0.586587
pregunta_4           0.485569
pregunta_5           0.501698
pregunta_6           0.464346
pregunta_7           0.251273
pregunta_8           0.050085
pregunta_9           0.052632
pregunta_10          0.152801
pregunta_11          0.462649
pregunta_12          0.460102
pregunta_13          0.144312
cluster_avg          1.093379
indice_violencia     4.796265
Name: 3, dtype: float64